<!--
  ~  Created by Christoph Kührer & Florian Knoll on 06.04.20 19:24
  ~  Copyright (c) 2020 . All rights reserved.
  ~  Last modified 06.04.20 17:07
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.novid20.sdk">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Google Nearby -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.bluetooth_le" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Used by NotificationService -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:supportsRtl="false">

        <service
            android:name=".NotificationService"
            android:foregroundServiceType="location" />

        <service
            android:name=".activity.ActivityTransitionService"
            android:exported="true"
            tools:ignore="ExportedService" />

        <!-- Start the Service if applicable on boot -->
        <receiver android:name=".NovidBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
